<html>
    <head>
        <title>Prat BlogApp</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.2/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css?family=Acme|Pacifico" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light|Sorts+Mill+Goudy" rel="stylesheet">
    
    </head>
    <body>
        <div class="ui stackable inverted menu">
            <div class="ui container">
                <div class="myapp"><i class="code icon"></i>Prat @BlogAppSite</div>
                <div class="right menu">
                <a href="/" class="item"><strong>Home </strong></a>
                <a href="/about" class="item"><strong>About Prat</strong></a>
                <a href="/blogs/new" class="item"><strong>New Post</strong></a>
                </div>
                
            </div>
        </div >
        