<% include ./partials/header %>
<div class="aboutpage">
<div class="ui main text container">
    <div class="ui huge header"><div class="myheading2">Allow Me To Introduce Myself:</div></div>
<div class="ui segment">
  <img class="ui small left floated circular image" src="https://avatars1.githubusercontent.com/u/31140932?s=460&v=4">
  <div class="about">
  <p><strong>HEY, HELLO THERE. NICE TO MEET YOU!</strong></p>
  <p><strong>My name is Pratyush Kumar.</strong></p>
  <p>I am from Jamshedpur(Tata-Nagar),Jharkhand.Currently I am studying in Thapar Institute of Engineering & Technology, Patiala.I am pursuing B.E in Electronics and Communication.I am a hard working, honest individual.I am always enthusiastic to learn and undertake new challenges.I am well organized and always plan ahead to make sure I manage my time well.I am well versed in languages such as C,C++ & Python.I am a MEAN stack developer.I'm obsessed with making things and even more obsessed with making things better.My interests, however, extend beyond the web and I love to work with microcontrollers like Arduino,NodeMCU,RasberryPI etc.Moreover,i am fascinated with the Internet Of Things and i wish to make some interesting and innovative projects based on it in the near future.When I'm free, I'm probably hanging out with my friends,watching youtube videos or exploring new things of my interest which i should learn and work on.Apart from that,I love travelling and exploring new places.</p>
  <p>Reach out to pratyush63.kumar@gmail.com to connect!</p>
  </div></div>
  </div>
  </div>
<% include ./partials/footer %>