body{
     background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
     background-position: center center;
     background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.aboutpage{
    margin-bottom: 8px;
}

.icon{
    font-size:3.5em;
    color:grey
    
}
.myheading{
    font-family: 'Acme', sans-serif;
    font-size:30px;
    color:black;
}
.myheading2{
    font-family: 'Acme', sans-serif;
    font-size:25px;
    color:black;
}

.container.main{
    margin-top: 7.0em;
}

#delete{
    display:inline;
}

.myapp{
    font-family: 'Acme', sans-serif;
    font-size:35px;
    color:red;
    margin-top: 1.0em;
}

.about{
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 20px;
    line-height: 2px;
}
